*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #f7f7f7;
}

.nav{
    width: 50%;
    height: 46.5px;
    background-color: #fff;
    color: #000;
    border-bottom: #000;
}

a{
    cursor: pointer;
    padding: 15px 20px;
    width: 200px;
    text-decoration: none;
}

/* hero style */

.img-fluid{
    width: 1280px;
    height: 835px;
}